<launch>

    <arg name="manual_control" default="false" />

    <!-- Launch the simulator -->
    <include file="$(find caric_mission)/launch/run_mbs.launch" />
    <!-- <include file="$(find caric_mission)/launch/run_hangar.launch"/> -->
    <!-- <include file="$(find caric_mission)/launch/run_crane.launch"/> -->

    <!-- Central coordinator -->
    <node name="gcs_task" pkg="caric_baseline" output="screen" type="gcs_task"  />
    <!-- <node name="gcs_talker" pkg="caric_baseline" type="initial_task"  /> -->

    <group ns="jurong">
        
        <arg name="namespace"  default="jurong" />
       

 
        <node name="gimbal_control" pkg="caric_baseline" type="gimbal_control" launch-prefix="bash -c 'sleep 5; $0 $@'" >
            <remap from="/firefly/gimbal"              to="/$(arg namespace)/gimbal" />
            <remap from="/firefly/command/gimbal"      to="/$(arg namespace)/command/gimbal" />
        </node>
         
        


    </group>
      <!-- For visualization -->
    <node name="odom2tf" pkg="caric_mission" type="odom2tf.py"  />

</launch>